In [5]:
#1.	Write a Python program to convert kilometers to miles?
km=float(input("Enter the distance in kilometers:"))
miles=0.621*km
print("Distance in miles:",miles)

Enter the distance in kilometers:100
Distance in miles: 62.1

In [4]:
#2.	Write a Python program to convert Celsius to Fahrenheit?
tempC=float(input("Enter temperature in Celcius: "))
tempF=(1.8*tempC)+32
print("Temperature in Fahrenheit: ",tempF)

Enter temperature in Celcius: 100
Temperature in Fahrenheit:  212.0

In [1]:
#3.	Write a Python program to display calendar?
import calendar
year=int(input("Enter the year"))
print(calendar.calendar(year))

Enter the year2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [4]:
#4.	Write a Python program to solve quadratic equation?
import cmath
a=float(input("Enter a:"))
b=float(input("Enter b:"))
c=float(input("Enter c:"))
d=b**2 - 4*a*c
r1=(-b+cmath.sqrt(d))/(2*a)
r2=(-b-cmath.sqrt(d))/(2*a)
print("Roots are:-",r1,"&",r2)

Enter a:1
Enter b:-5
Enter c:6
Roots are:- (3+0j) & (2+0j)

In [7]:
#5.	Write a Python program to swap two variables without temp variable?
a=int(input("enter 1st number:"))
b=int(input("Enter 2nd number:"))
print("Before Swapping:\na:",a,"\nb:",b)
a,b=b,a
print("After Swapping:\na:",a,"\nb:",b)

enter 1st number:5
Enter 2nd number:10
Before Swapping:
a: 5
b: 10
After Swapping:
a: 10
b: 5